<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript" src="/scripts/scripts.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <div class="col">
                <div id="createPlayerForm">
                    <h1>Create User</h1>
                    <p>Username:</p>
                    <input type="text" id="createPlayerName">
                    <button class="btn btn-success" id="createPlayerButton">Create User</button>
                </div>
                <div id="createRoomForm">
                    <h1>Create Room</h1>
                    <p>Room Name:</p>
                    <input type="text" id="createRoomName">
                    <button class="btn btn-success" id="createRoomButton">Create Room</button>
                </div>
                <h1 id="roomListHeader">Room List:</h1>
                <div id="roomList"></div>
                <div id="waitingRoom">
                    <p>Waiting for other player...</p>
                    <button class="btn btn-success" id="startGameButton">Start Game</button>
                </div>
                <div id="gameSpace">
                    <h3 class="text-light">My health: <span id="myHealth"></span></h3>
                    <h3 class="text-light">Opponent's health: <span id="opponentsHealth"></span></h3>
                    <h3 class="text-light">Incoming Attacks: <span id="incomingAttacks"></span></h3>
                    <h3 class="text-light">Outgoing Attacks: <span id="outgoingAttacks"></span></h3>
                    <div class="row position-relative">
                        <div id="Attacks"></div>
                        <div id="dogWizard"></div>
                        <div id="turtleWizard" class="float-right position-absolute"></div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-danger mr-2" id="fireAttackButton">Fire Attack</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary mr-2" id="waterAttackButton">Water Attack</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" id="earthAttackButton">Earth Attack</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-danger mr-2" id="fireDefenseButton">Fire Defense</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary mr-2" id="waterDefenseButton">Water Defense</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" id="earthDefenseButton">Earth Defense</button>
                        </div>
                    </div>
                </div>
                <div id="startOverWin">
                    <h2 class="text-success">YOU WIN</h2>
                    <button class="btn btn-primary startOverBtn">Start Over?</button>
                </div>
                <div id="startOverLose">
                    <h2 class="text-danger">YOU LOSE</h2>
                    <button class="btn btn-primary startOverBtn">Start Over?</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>