<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            var socket = io();
            var createRoomButton = document.getElementById("createRoomButton");

            // var damageButton = document.getElementById("damageButton");

            var myHealthSpan = document.getElementById("myHealth");
            var opponentsHealthSpan = document.getElementById("opponentsHealth");
            var myHealth = 100;
            var opponentsHealth = 100;
            var incomingAttacks = [];
            var outgoingAttacks = [];

            function update() {
                $("#myHealth").html(myHealth);
                $("#opponentsHealth").html(opponentsHealth);
                $("#roomList").html(roomListHTML);
                console.log(`Room list html: ${roomListHTML}`)

                $(".joinRoomButton").click(function() {
                    socket.emit("Join Room", $(this).attr("roomName"), playerName);
                    joinedRoom = $(this).attr("roomName");
                    $("#createRoomForm").hide();
                    $("#roomList").hide();
                    $("#roomListHeader").hide();
                    $("#waitingRoom").show();
                    update();
                });
            }

            var roomListHTML = "";
            var playerName = undefined;
            var joinedRoom = undefined;

            createPlayerButton.addEventListener("click", function() {
                socket.emit("Create Player", $("#createPlayerName").val());
                playerName = $("#createPlayerName").val();
                $("#createPlayerForm").hide();
                $("#createRoomForm").show();
                $("#roomList").show();
                $("#roomListHeader").show();
                update();
            });

            createRoomButton.addEventListener("click", function() {
                socket.emit("Create Room", $("#createRoomName").val(), playerName);
                joinedRoom = $("#createRoomName").val();
                $("#createRoomForm").hide();
                $("#roomList").hide();
                $("#roomListHeader").hide();
                $("#waitingRoom").show();
                update();
            });

            // damageButton.addEventListener("click", function() {
            //     opponentsHealth -= 10;
            //     if (opponentsHealth <= 0) {
            //         $("#startOverWin").show();
            //         $("#gameSpace").hide();
            //     }
            //     socket.emit("Give Damage", joinedRoom);
            //     update();
            // });

            socket.on("Update Room List", function(roomList) {
                roomListHTML = "";
                for (let room of roomList) {
                    roomListHTML += `<button class="btn btn-info mb-2 joinRoomButton" roomName="${room}">${room}</button><br>`;
                }
                update();
            });

            socket.on("Player Joined", function() {
                $("#startGameButton").show();
            });

            $("#startGameButton").click(function() {
                socket.emit("Start Game", joinedRoom);
                update();
            });

            $("#fireAttackButton").click(function() {
                outgoingAttacks.push("fire");
                socket.emit("Attack", joinedRoom, "fire");
            });

            $("#waterAttackButton").click(function() {
                outgoingAttacks.push("water");
                socket.emit("Attack", joinedRoom, "water");
            });

            $("#earthAttackButton").click(function() {
                outgoingAttacks.push("earth");
                socket.emit("Attack", joinedRoom, "earth");
            });

            $("#fireDefenseButton").click(function() {
                socket.emit("Defense", joinedRoom, "fire");
            });

            $("#waterDefenseButton").click(function() {
                socket.emit("Defense", joinedRoom, "water");
            });

            $("#earthDefenseButton").click(function() {
                socket.emit("Defense", joinedRoom, "earth");
            });

            socket.on("Attack", function(attackType) {
                incomingAttacks.push(attackType);
            });

            socket.on("Take Damage", function() {
                myHealth -= 10;
                if (myHealth <= 0) {
                    $("#startOverLose").show();
                    $("#gameSpace").hide();
                }
                update();
            });

            $(".startOverBtn").click(function() {
                socket.emit("Start Over", joinedRoom);
                update();
            });

            socket.on("Restart Game", function() {
                myHealth = 100;
                opponentsHealth = 100;
                $("#startOverLose").hide();
                $("#startOverWin").hide();
                $("#gameSpace").show();
                update();
            });

            socket.on("Start Game", function() {
                myHealth = 100;
                opponentsHealth = 100;
                $("#waitingRoom").hide();
                $("#gameSpace").show();
                update();
            });

            update();
        })
    </script>
    <title>Document</title>
</head>
<body>
    <div class="container" id="container">
        <div class="row">
            <div class="col">
                <div id="createPlayerForm">
                    <h1>Create User</h1>
                    <p>Username:</p>
                    <input type="text" id="createPlayerName">
                    <button class="btn btn-success" id="createPlayerButton">Create User</button>
                </div>
                <div id="createRoomForm" style="display: none;">
                    <h1>Create Room</h1>
                    <p>Room Name:</p>
                    <input type="text" id="createRoomName">
                    <button class="btn btn-success" id="createRoomButton">Create Room</button>
                </div>
                <h1 id="roomListHeader" style="display: none;">Room List:</h1>
                <div id="roomList" style="display: none;"></div>
                <div id="waitingRoom" style="display: none;">
                    <p>Waiting for other player...</p>
                    <button class="btn btn-success" id="startGameButton" style="display: none;">Start Game</button>
                </div>
                <div id="gameSpace" style="display: none;">
                    <p>My health: <span id="myHealth"></span></p>
                    <p>Opponent's health: <span id="opponentsHealth"></span></p>
                    <p>Incoming Attacks: <span id="incomingAttacks"></span></p>
                    <p>Outgoing Attacks: <span id="outgoingAttacks"></span></p>
                    <button class="btn btn-danger mr-2" id="fireAttackButton">Fire Attack</button>
                    <button class="btn btn-primary mr-2" id="waterAttackButton">Water Attack</button>
                    <button class="btn btn-success" id="earthAttackButton">Earth Attack</button>
                    <br>
                    <br>
                    <button class="btn btn-danger mr-2" id="fireDefenseButton">Fire Defense</button>
                    <button class="btn btn-primary mr-2" id="waterDefenseButton">Water Defense</button>
                    <button class="btn btn-success" id="earthDefenseButton">Earth Defense</button>
                </div>
                <div id="startOverWin" style="display: none;">
                    <h2 class="text-success">YOU WIN</h2>
                    <button class="btn btn-primary startOverBtn">Start Over?</button>
                </div>
                <div id="startOverLose" style="display: none;">
                    <h2 class="text-danger">YOU LOSE</h2>
                    <button class="btn btn-primary startOverBtn">Start Over?</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>