* {
    /* outline: red dotted 1px; */
}

#createRoomForm {
    display: none;
}

#roomListHeader {
    display: none;
}

#roomList {
    display: none;
}

#waitingRoom {
    display: none;
}

#startGameButton {
    display: none;
}

#gameSpace {
    display: none;
    background-image: url('../images/ArenaBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

#dogWizard {
    margin-top: 300px;
    background-image: url('../images/DogWizard.png');
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
}

#turtleWizard {
    margin-top: 300px;
    background-image: url('../images/TurtleWizard.png');
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    bottom: 0;
    right: 0;
}

.fireAttackIncoming {
    position: absolute;
    background-image: url('../images/FireAttackIncoming.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

.waterAttackIncoming {
    position: absolute;
    background-image: url('../images/WaterAttackIncoming.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

.earthAttackIncoming {
    position: absolute;
    background-image: url('../images/EarthAttackIncoming.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

.fireAttackOutgoing {
    position: absolute;
    background-image: url('../images/FireAttackOutgoing.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

.waterAttackOutgoing {
    position: absolute;
    background-image: url('../images/WaterAttackOutgoing.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

.earthAttackOutgoing {
    position: absolute;
    background-image: url('../images/EarthAttackOutgoing.png');
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
}

#startOverWin {
    display: none;
}

#startOverLose {
    display: none;
}